* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  scroll-padding-top: 50px;
  overflow-x: hidden;
}

body {
  @include russo;
  background-color: $bg-color;
  color: $text-color-light;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  max-width: 1146px;
  margin: auto;
}
img {
  max-width: 100%;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: $text-color-light;
}

a {
  text-decoration: none;
}

.body-hidden {
  overflow: hidden;
}

//-------MEDIA-------

@media (max-width: 1146px) {
  .container {
    max-width: 358px;
  }
}
