* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: $bg-color;
  color: $text-color-light;
}
.container {
  max-width: 1146px;
  margin: auto;
}
img {
  max-width: 100%;
}
.button {
  font-style: normal;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
