.header {
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  padding: 86px 0 10px;
  animation: hideHeader 0.5s;

  &_fixed {
    will-change: top;
    top: -70px;
    animation: showHeader 0.5s;
    background-color: #111111;
    .header_navbar-audio {
      position: relative;
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(
          50% 50% at 50% 50%,
          rgba(123, 181, 95, 0.71) 0%,
          transparent 70%
        );
        border-radius: 100px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
    }
  }
  &_hidden {
    will-change: top;
    top: -200px;
    animation: hideHeader2 0.5s;
  }

  &_wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_burger {
    display: none;
  }

  .logo {
    display: block;
    color: blue;
    &_image {
      display: block;
      &-mobile {
        display: none;
      }
    }
  }

  &_navbar {
    position: relative;
    display: flex;
    align-items: center;

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 152px;
    }

    &-audio {
      position: relative;
      height: 18px;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 43px;
      }

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: 89px;
        height: 89px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(
          50% 50% at 50% 50%,
          rgba(123, 181, 95, 0.71) 0%,
          transparent 100%
        );
        border-radius: 100px;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
      }

      &_play,
      &_stop,
      &_play-mobile,
      &_stop-mobile {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 100;
        display: block;
      }
      &_play-mobile,
      &_stop-mobile {
        display: none;
      }
      &_hidden {
        display: none;
      }

      &_button {
        z-index: 10;
        height: 18px;
        width: 13px;
        transition: transform 0.3s;
        position: relative;
        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s;
        }
      }
    }

    &-link {
      display: inline;
      margin-right: 27px;
      & a {
        @include russo;
        font-size: 16px;
        line-height: 19px;
        color: $text-color-light;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        &:hover {
          transition: opacity 0.3s ease;
          opacity: 1;
        }
      }

      &:last-child {
        margin-right: 115px;
      }
    }

    &-lang {
      display: inline;
      @include russo;
      font-size: 20px;
      line-height: 24px;
      color: $text-color-light;
      border: none;
      outline: none;
      text-transform: uppercase;
      background: transparent;
      transition: transform 0.3s ease;
      &:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
    }

    &-social {
      position: absolute;
      top: 85px;
      right: 0;
      &_links {
        & li {
          margin-bottom: 24px;
          transition: transform 0.3s, opacity 0.3s;
          opacity: 0.5;
          &:hover {
            transition: transform 0.3s, opacity 0.3s;
            transform: scale(1.1);
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes showHeader {
  0% {
    background-color: transparent;
    top: 0;
  }
  100% {
    background-color: #111111;
    top: -70px;
  }
}
@keyframes hideHeader {
  0% {
    background-color: #111111;
    top: -70px;
  }
  100% {
    background-color: transparent;
    top: 0;
  }
}
@keyframes hideHeader2 {
  0% {
    top: -70px;
  }
  100% {
    top: -200px;
  }
}

//-------MEDIA-------

@media (max-width: 1146px) {
  .header {
    padding: 39px 0 10px;
    position: fixed;

    &_fixed {
      top: -23px;
    }
    &_hidden {
      top: -100px;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_burger {
      display: block;
      width: 30px;
      height: 17px;
      cursor: pointer;
      transition: transform 0.3s;
      z-index: 100;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      &_image {
        display: none;
        &-mobile {
          display: block;
        }
      }
    }

    &_navbar {
      display: none;

      &-buttons {
        order: -1;
        width: 358px;
        margin: 0 auto;
        position: relative;
        justify-content: flex-end;
      }

      &-audio {
        border-radius: 16px;
        background-color: $base-green-light;
        display: flex;
        align-items: center;
        padding: 19px 24px;
        margin-bottom: 37px;
        &_play,
        &_stop {
          display: none;
        }
        &_play-mobile,
        &_stop-mobile {
          display: block;
        }
        &_hidden {
          display: none;
        }
        &::before {
          background-image: none;
          border-radius: none;
          -webkit-backdrop-filter: none;
          backdrop-filter: none;
        }
        &_button {
          z-index: 10;
          height: 18px;
          width: 13px;
          transition: transform 0.3s;
          position: relative;
          &:hover {
            transform: scale(1.1);
            transition: transform 0.3s;
          }
        }
      }

      &-active {
        background-color: $mobile-color;
        display: flex;
        margin: 0 auto;
        padding: 149px 0 10px;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }

      &-links {
        width: 358px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      &-link {
        display: block;
        margin-right: 0px;
        margin-bottom: 32px;
        text-align: right;
        & a {
          font-size: 20px;
          line-height: 24px;
          color: $text-color-light;
          opacity: 0.7;
          transition: opacity 0.3s, color 0.3s;
          &:hover {
            transition: opacity 0.3s, color 0.3s;
            opacity: 1;
            color: $base-green-light;
          }
        }
        &:last-child {
          margin-right: 0px;
        }
      }

      &-lang {
        order: -1;
        position: absolute;
        top: -108px;
        left: 0;
      }

      &-social {
        width: 358px;
        margin: 0 auto;
        position: static;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;

        &_links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90px;
          & li {
            margin-bottom: 24px;
            transition: transform 0.3s, opacity 0.3s;
            opacity: 0.5;
            &:hover {
              transition: transform 0.3s, opacity 0.3s;
              transform: scale(1.1);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @keyframes showHeader {
    0% {
      background-color: transparent;
      top: 0;
    }
    100% {
      background-color: #111111;
      top: -23px;
    }
  }
  @keyframes hideHeader {
    0% {
      background-color: #111111;
      top: -23px;
    }
    100% {
      background-color: transparent;
      top: 0;
    }
  }
}
